/* military-theme.css */

/* Arrière-plan général */

.Main-pane {
    -fx-background-image: url("images/imagelight3.jpg");

    -fx-background-repeat: no-repeat;
    -fx-background-size:cover; /* Vert foncé, couleur proche de l'armée camerounaise */
    /*-fx-background-color:#0a570a9c;*/
    -fx-alignment: center;
}

.left-tab-header{
    -fx-border-color: transparent #454645 transparent transparent; 
    -fx-border-width:  0px 2px 0px 0px;
}

.left-tab-header .tab-header-background{
    -fx-background-color: #4babe2;
    -fx-min-width: 200;
    -fx-min-height: 200;
}

.left-tab-header .tab-header-area {
    -fx-background-color: #4babe2;
    -fx-padding: 5;
    -fx-min-width: 200;
    -fx-min-height: 200;
    
}

.left-tab-header .tab{
    -fx-padding: 5;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.left-tab-header .tab:selected{
    -fx-border-color: yellow transparent   transparent transparent ;
    -fx-border-width: 5 0 0 0;
    -fx-background-color: transparent;
}


.contacts-box{
    -fx-background-color: #ededf5;
}

.disc-title{
    -fx-text-fill:#133f96;
    -fx-padding: 0 0 20 0;
    -fx-font-size:20px;
    -fx-padding:10px 0px 0px 0px;
    -fx-font-weight: bold;
}

.search-field{
    -fx-background-color: #fcfcfc; /* Blanc pour les champs */
    -fx-text-fill: #161616; /* Texte noir */
    -fx-border-color:rgb(126, 124, 124); /* Vert pour les bordures */
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-prompt-text-fill: rgb(66, 64, 64);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.discussions-lv{
    -fx-background-color: #f8f9fa;
}

.discussions-lv .list-cell{ 
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #918e8eb7 transparent;
    -fx-border-width:0 0 1 0 ;
}

.add-contact-btn{
    -fx-background-color: #4CAF50;
    -fx-border-color: #4CAF50; /* Vert pour les bordures */
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0.2, 3, 3);
    -fx-cursor: hand;
    
}

.all-contacts-box{
    -fx-background-color: #080c49b9;
}

.contacts-lv .list-cell{
    -fx-border-color: transparent transparent #575555 transparent;
}

.contacts-title{
    -fx-text-fill:#133f96;
    -fx-padding: 5 0 20 0;
    -fx-font-size:20px;
    -fx-padding:0px 0px 30px 0px;
    -fx-font-weight: bold;
}

.chat-header{
    -fx-background-color: #4babe2;
    
}
.chat-area-box{
    -fx-background-color: #4babe2;
}

.profile-btn{
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.send-box{
    -fx-background-color:#b5b9b944;
    -fx-pref-width:120px;
    -fx-pref-height: 40px;
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
    -fx-padding:5px 0px 5px 20px;
}

.mes-txt-field{
    -fx-background-color: transparent; /* Blanc pour les champs */
    -fx-text-fill: #333333; /* Texte noir */
    -fx-border-color: transparent transparent #767976 transparent; 
    -fx-border-width:  0px 0px 1px 0px;
    -fx-background-radius: 50px;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-prompt-text-fill: rgb(66, 64, 64);
}

.chat-button{
    -fx-background-color: transparent; /* Vert armée, ton militaire */
    
}

.message-area {
    -fx-background-image: url("images/imagelight3.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.scroll-msg-area {
    -fx-background-color: transparent;
}


.state{
    -fx-text-fill: #19b50d; /* Texte en blanc cassé pour un bon contraste */
    -fx-font-size: 1em;
}

.add-contact-btn:hover {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: #15c43b; /* Vert plus clair au survol */
}
.chat-button:hover {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: #a2afa8; /* Vert plus clair au survol */
}

.scroll-msg-area {
    -fx-background-color: transparent;
}

/* Message du chat */
.chat-message {
    -fx-background-color: #16A085; /* Vert foncé pour les messages */
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5px;
}

/* Panel d'ajout de contact */
.add-contact-pane {
    -fx-background-color: #2C3E50;
    -fx-text-fill: #ECF0F1;
}

/* Séparateur */
.separator {
    -fx-background-color: #7F8C8D; /* Gris sombre pour séparation */
}

