/* dark-theme.css */

/* Arrière-plan général */
.root {
    -fx-base: #34495E; /* Bleu marine sombre (couleur de base) */
    -fx-background: #2C3E50; /* Fond plus foncé pour l'application */
    -fx-control-inner-background: #34495E; /* Arrière-plan des zones de contrôle (champs, listes) */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 20%); /* Arrière-plan alternatif pour les zones de contrôle */
}


.top {
    -fx-background-color: #34495E; /* Gris foncé pour la barre de titre */
}

.left {
    -fx-background-color: #2C3E50; /* Bleu foncé, cohérence avec le fond général */
}

.center {
    -fx-background-color: #34495E; /* Gris foncé pour la zone centrale */
}

/* Barres et boutons */
.ToolBar {
    -fx-background-color: #2C3E50; /* Bleu foncé pour la barre d'outils */
}

.ToolBar .label {
    -fx-text-fill: #ECF0F1; /* Texte blanc cassé pour les labels */
    -fx-font-size: 14px;
}

.ToolBar .button {
    -fx-background-color: #27AE60; /* Vert armée pour les boutons */
    -fx-text-fill: white;
}

.ToolBar .button:hover {
    -fx-background-color: #2ECC71; /* Vert clair au survol */
}

/* Textes */
.label, .title {
    -fx-text-fill: #092bac; /* Texte en blanc cassé pour un bon contraste */
    -fx-font-size: 1em;
}

.state{
    -fx-text-fill: #19b50d; /* Texte en blanc cassé pour un bon contraste */
    -fx-font-size: 1em;
}
/* -------------------------------------------------------
   Texte (lisibilité améliorée)
   ------------------------------------------------------- */


.text-field, .password-field, .combo-box {
    -fx-background-color: #2C3E50; /* Bleu foncé pour les champs */
    -fx-text-fill: #ECF0F1; /* Texte blanc cassé */
    -fx-border-color: #27AE60; /* Bordure verte militaire */
}

.button {
    -fx-background-color: #27AE60; /* Vert armée pour les boutons */
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2ECC71; /* Vert plus clair au survol */
}

.scroll-pane {
    -fx-background-color: #2C3E50; /* Bleu foncé pour le fond de la scroll pane */
}

/* Message du chat */
.chat-message {
    -fx-background-color: #16A085; /* Vert foncé pour les messages */
    -fx-text-fill: #FFFFFF; /* Texte en blanc */
    -fx-border-radius: 5px;
}

/* Panel d'ajout de contact */
.add-contact-pane {
    -fx-background-color: #34495E;
    -fx-text-fill: #FFFFFF;
}

/* Séparateur */
.separator {
    -fx-background-color: #FFFFFF;
}
.hidden-tab-header .tab-header-area {
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    visibility: hidden;
}
