/* military-theme.css */

/* Arrière-plan général */
.root {
    -fx-background-color: #2C3E50; /* Bleu marine foncé pour fond général */
}

.top {
    -fx-background-color: #34495E; /* Gris-bleu, ton militaire */
}

.left {
    -fx-background-color: #2C3E50; /* Même fond que la root pour cohérence */
}

.center {
    -fx-background-color: #34495E;
}

/* Barres et boutons */
.ToolBar {
    -fx-background-color: #27AE60; /* Vert armée, ton militaire */
}

.ToolBar .label {
    -fx-text-fill: #ECF0F1; /* Blanc cassé pour contraste */
    -fx-font-size: 14px;
}

.ToolBar .button {
    -fx-background-color: #27AE60; /* Vert armée */
    -fx-text-fill: white;
}

/* Textes */
.label, .state, .title {
    -fx-text-fill: #ECF0F1; /* Blanc cassé */
}

.text-field, .password-field, .combo-box {
    -fx-background-color: #34495E; /* Gris foncé pour les champs */
    -fx-text-fill: #ECF0F1; /* Blanc cassé pour texte */
    -fx-border-color: #27AE60; /* Bordure verte */
}

.button {
    -fx-background-color: #27AE60; /* Vert armée */
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2ECC71; /* Vert plus clair au survol */
}

.scroll-pane {
    -fx-background-color: #34495E;
}

/* Message du chat */
.chat-message {
    -fx-background-color: #16A085; /* Vert foncé pour les messages */
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5px;
}

/* Panel d'ajout de contact */
.add-contact-pane {
    -fx-background-color: #2C3E50;
    -fx-text-fill: #ECF0F1;
}

/* Séparateur */
.separator {
    -fx-background-color: #7F8C8D; /* Gris sombre pour séparation */
}
