/* login.css */

/* Arrière-plan général */
.login-grid {
    -fx-background-color: #1E3A24; /* Vert foncé, couleur proche de l'armée camerounaise */
    -fx-padding: 20px;
    -fx-alignment: center;
}

/* Label */
.login-label {
    -fx-text-fill: #25849c; /* Jaune doré pour un contraste fort mais adapté */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Champ de texte */
.login-text-field {
    -fx-background-color: #FFFFFF; /* Blanc pour les champs */
    -fx-text-fill: #333333; /* Texte noir */
    -fx-border-color: #4CAF50; /* Vert pour les bordures */
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 8px;
}

/* Bouton */
.login-button {
    -fx-background-color: #4CAF50; /* Vert armée */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

/* Lien */
.create-account-link {
    -fx-text-fill: #9c07ff; /* Jaune doré pour le lien */
    -fx-font-size: 14px;
    -fx-underline: true;
}

/* Message d'erreur */
.login-error-message {
    -fx-text-fill: #FF5722; /* Rouge pour les erreurs */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
