/* login.css */

/* Arrière-plan général */
.login-pane {
    /*-fx-background-image: url("images/back3.jpg");
    -fx-background-repeat: no-repeat; /* Vert foncé, couleur proche de l'armée camerounaise */
    -fx-background-color:#0a570a9c;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.login-box{
    -fx-max-width: 330px;
    -fx-background-color: transparent;
    -fx-border-color:#4b87cc00;
    -fx-border-radius:10px;
    -fx-background-radius:10px;
    -fx-max-height: 200px;
}

.login-title{
    -fx-text-fill:#f0f1f3;
    -fx-font-size:20px;
    -fx-padding:60px 0px 0px 0px;
    -fx-font-weight: bold;
}

.telephone-box{
    -fx-background-color:#b5b9b97e;
    -fx-pref-width:100px;
    -fx-pref-height: 40px;
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
}
.password-box{
    -fx-background-color:#b5b9b979;
    -fx-pref-width:100px;
    -fx-border-radius: 20px;
    -fx-background-radius:20px;
}
/* Label */
.login-label {
    /*-fx-text-fill: #0e0f0f; /* Jaune doré pour un contraste fort mais adapté */
    -fx-font-size: 14px;
    /*-fx-font-weight: bold;*/
    -fx-padding: 10px;
    -fx-backgound:transparent;
}


/* Champ de texte */
.login-text-field {
    -fx-background-color: transparent; /* Blanc pour les champs */
    -fx-text-fill: #161616; /* Texte noir */
    /*-fx-border-color: #4CAF50; /* Vert pour les bordures */
    -fx-font-size: 14px;
    -fx-padding: 8px;
}
.password-field{
    -fx-background-color: transparent; /* Blanc pour les champs */
    -fx-text-fill: #141010; /* Texte noir */
    /*-fx-border-color: #4CAF50; /* Vert pour les bordures */
    -fx-border-radius: 50px;
    -fx-font-size: 14px;
    -fx-padding: 8px;
}
/* Bouton */
.login-button {
    -fx-background-color: #4CAF50; /* Vert armée */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

/* Lien */
.create-account-link {
    -fx-text-fill: #9c07ff; /* Jaune doré pour le lien */
    -fx-font-size: 14px;
    -fx-underline: true;
}

/* Message d'erreur */
.login-error-message {
    -fx-text-fill: #FF5722; /* Rouge pour les erreurs */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
